body{
    width: 100%;
    background-color: #c6e6f1;
    color: #5aa6b9;
}

.glyphicon{
    font-size: 30px;
    margin-right: 20px;
}


.btn{
    margin-bottom: 10%;

    background-color: #5aa6b9;
    color: white;
    border:none;
    font-family: 'Wendy One', sans-serif;
    font-size: 18px;
}

.btn:hover{
    background-color: rgba(90, 166, 185, 0.62);
    color: white;
}

.bouton{
    text-align: center;
}

.navbar{
    background-color: #5aa6b9;
}

.navbar-text{
    font-size: 25px;
    color: white !important;
}

h1{
    font-family: 'Rammetto One', cursive;
}

label{
    font-family: 'Wendy One', sans-serif;
    font-size: 19px;
}
