body{
    width: 100%;
    background-color: #c6e6f1;
    color: #5aa6b9;
}

.glyphicon{
    font-size: 30px;
    margin-right: 20px;
}


.btn{
    margin-bottom: 10%;
    width: 20%;
    background-color: #5aa6b9;
    color: white;
    border:none;
}

.btn:hover{
    background-color: rgba(90, 166, 185, 0.62);
    color: white;
}

.bouton{
    text-align: center;
}

.navbar{
    background-color: #5aa6b9;
}

.navbar-text{
    font-size: 25px;
    color: white !important;
}
