body{
    width: 100%;
}

h1{


  font-family: 'Rammetto One', cursive;
}
label{

    font-family: 'Wendy One', sans-serif;
}
.glyphicon{
    font-size: 30px;
    margin-right: 20px;
}

.form-control{
    width: 60%;
}

.btn{
    margin-bottom: 10%;
    width: 100%;
}


.navbar-text{
    font-size: 25px;
}
